@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    color: black !important;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding-left: 1%;
}

nav {
    background-color: #051B3E;
    border-radius: 5px;
    border-bottom: 0.1px solid #2B4C7E;
    padding: 30px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#logo {
    max-width: 110px;
    max-height: 110px;
    margin-left: 20px;
    border-right: 1.5px solid #4A90E2;
    padding-right: 15px;
}

#navbarNav {
    margin-left: 5%;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    font-size: 15px;
    font-weight: 400;
    color: white !important;
}

header {
    margin-bottom: 3%;
}

.material-symbols-outlined {
    font-size: 35px;
    margin-right: 10px; 
    font-weight: 200;
}

.nomeuser {
    font-size: 15px;
    font-weight: 400;
    margin-right: 80px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 10px; 
}

.nav-link:hover {
    background-color: #4a91e296;
    border-radius: 10px;
}

.d-flex {
    display: flex;
    margin-left: 25%;
}

.w-100 {
    width: 100%;
}

.justify-content-between {
    justify-content: space-between;
}

#titulo {
    font-family: 'Audiowide', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    color: #4A90E2;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #2B4C7E;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: #051B3E;
    margin-bottom: 3%;
}

p {
    text-align: justify;
    color: #13171f;
    margin: 2%;
    width: 90%;
}

.campoQuestoes {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    width: 30%; 
    float: left;
}

#questoes {
    width: 100%;
}

#listaQuestoes {
    list-style: none;
    background-color: #2b4c7e83;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: 0;
}

#colunaQuestoes {
    background-color: #2b4c7ec9;
    font-weight: bold;
    border-radius: 10px;
}

.opcoesDeQuestoes {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.opcoesDeQuestoes:hover {
    background-color: #4a91e296;
    transform: scale(1.05); 
    border-radius: 10px;
}

#listaQuestoes li {
    margin-bottom: 5px; 
}

.campoExercicios {
    margin: auto;
    float: right;
    margin-right: 5% !important;
    margin-top: 2% !important;
    min-height: 400px;
}

#opresposta {
   margin-top: 2%;
}

#botaoLimpar, #botaoProx {
    margin-top: 5%;
}


#botaoProx:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#opcoes li {
    padding: 10px 15px; 
    border-radius: 8px;   
    margin: 5px 0;       
    background-color: #f7f7f7; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

#opcoes li:hover {
    background-color: #f0f0f0; 
    transform: scale(1.05); 
}

#feedback {
    text-align: center; 
    font-size: 1rem; 
    margin: 5px auto; 
    padding: 8px; 
    width: 90%; 
    border-radius: 10px; 
    display: none; 
}

#feedback.correct {
    border: 2px solid rgba(0, 128, 0, 0.685); 
    color: green; 
    background-color: rgba(0, 128, 0, 0.1); 
}

#feedback.incorrect {
    border: 2px solid rgba(255, 0, 0, 0.795); 
    color: red; 
    background-color: rgba(255, 0, 0, 0.1);
}

#feedback.warning {
    border: 2px solid orange; 
    color: orange; 
    background-color: rgba(255, 165, 0, 0.1); 
}

#contagem {
    padding-bottom: 20px; 
}

.campoExercicios {
    display: block;
    margin: auto;
    width: 50%;
    background-color: #2b4c7e10;
    padding: 0px 0px 10px 0px;
    border-radius: 10px;
}

#questao {
    background-color: #2b4c7ec9;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

#pergunta {
    margin-bottom: 5%;
}

#opcoes {
    margin: 2%;
}

li {
    font-weight: 400;
}

button {
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto';
    color: white;
}

.botoes {
    margin-left: 69%;
    margin-top: 5%;
}

#botaoVerificar {
    background-color: #051B3E;
}

#botaoLimpar {
    background-color: #2B4C7E;
}

#botaoProx {
    background-color:  #4A90E2;
}